
body {
  background-color: #dddddd;
  /*background-image: url("/bg.png");*/
}

.navbar {
  background-color: #eeeeee;
}

#main-container {
  position: relative;
  min-height: 100%;
}

#chat-col {
  background-color: #dddddd;
  margin: 0px 0px;
  padding: 0px 15px;
}

#messages {
  padding: 2px 2px;
  border-radius: 10px 0px 0px 10px;
  overflow-y: scroll;
}

#messages::-webkit-scrollbar-track {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #dddddd;
  background: #bbbbbb;
  margin: 4px 0px;
}

#messages::-webkit-scrollbar {
  background: #dddddd;
  width: 12px;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #dddddd;
  background: #999999;
}

#messages::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.message .col {
  margin: 0px;
  padding: 5px;
}

.message-sender {
  font-size: 16px;
}

.current-user {
  text-decoration: underline;
}

.message hr {
  margin: 1px 0px 3px 0px;
}

.message-body {
  font-size: 16px;
  margin: 0px;
}

.profile-image {
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#input {
  padding: 2px;
}

#message-input {
  margin: 5px 5px 5px 5px;
  padding: 0px;
  border-radius: 10px;
}

#message-input .col {
  padding: 0px;
}

#attachment-button {
  border-radius: 10px 0px 0px 10px;
}

#m {
  border-radius: 0px;
  background-color: #f8f9fa;
}

#send-button {
  border-radius: 0px 10px 10px 0px;
}

.attachment-search {
  padding: 10px 0px;
}

.search-results {
  min-height: 200px;
  max-height: 400px;
  padding: 10px;
  overflow-y: auto;
}

.search-results::-webkit-scrollbar-track {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #ffffff;
  background: #dddddd;
  margin: 0px 0px;
}

.search-results::-webkit-scrollbar {
  background: #ffffff;
  width: 12px;
}

.search-results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #ffffff;
  background: #bbbbbb;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.giphy-result-holder {
  border-radius: 10px;
  margin: 5px;
}

.giphy-result-gif {
  height: 100px;
  width: auto;
  border-radius: 10px;
}
