* {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}

form {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
}

#main-container {
  position: relative;
  min-height: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages li:nth-child(even) {
  background: #ddd;
}

#active-users { list-style-type: none; margin: 0; padding: 0; }