
body {
  background-color: #dddddd;
  background-image: url("Assets/Images/Screen\ Shot\ 2017-11-27\ at\ 1.25.15\ PM.png");
}

.navbar {
  background-color: #4682B4;

}

.navbar-light .navbar-brand {
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  color: #f5f5f5;
}

#main-container {
  position: relative;
  min-height: 100%;
}

#chat-col {
  background-color: #f5f5f5;
  margin: 0px 0px;
  padding: 0px 15px;
}


#messages {
  padding: 2px 2px;
  border-radius: 10px 0px 0px 10px;
  overflow-y: scroll;
}

#messages::-webkit-scrollbar-track {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #dddddd;
  background: #bbbbbb;
  margin: 4px 0px;
}

#messages::-webkit-scrollbar {
  background: #dddddd;
  width: 12px;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-width: 0.5px;
  border: solid;
  border-color: #dddddd;
  background: #999999;
}

#messages::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #F0F8FF;
}

.message .col {
  margin: 0px;
  padding: 5px;
}

.message-sender {
  font-size: 16px;
}

.current-user {
  text-decoration: underline;
}

.message hr {
  margin: 1px 0px 3px 0px;
}

.message-body {
  font-size: 16px;
  margin: 0px;
  color: #4078a5;
  font-family: 'Quicksand', sans-serif;
}

.profile-image {
  width: 48px;
  height: auto;
  border-radius: 50%;
}

#input {
  padding: 2px;
}

#message-input {
  margin: 5px 5px 5px 5px;
  padding: 0px;
  border-radius: 10px;
}

#message-input .col {
  padding: 0px;
}

#attachment-button {
  border-radius: 10px 0px 0px 10px;
}

#m {
  border-radius: 0px;
  background-color: #f8f9fa;
}

#send-button {
  border-radius: 0px 10px 10px 0px;
}
